In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

1\. Greg was 14, Marcia was 12, Peter was 11, Jan was 10, Bobby was 8, and Cindy was 6 when they started playing the Brady kids on The Brady Bunch. Cousin Oliver was 8 years old when he joined the show. What are the mean, median, and mode of the kids' ages when they first appeared on the show? What are the variance, standard deviation, and standard error?

In [2]:
kids = pd.DataFrame()

In [3]:
kids['name'] = ['Greg', 'marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver']
kids['age'] = [14, 12, 11, 10, 8, 6, 8]
kids

     name  age
0    Greg   14
1  marcia   12
2   Peter   11
3     Jan   10
4   Bobby    8
5   Cindy    6
6  Oliver    8

In [4]:
def myowndescribe(datacolumn):
    mean = datacolumn.mean()
    median = datacolumn.median()
    mode = datacolumn.mode()
    print("mean = ", mean)
    print("median = ", median)
    
    variance = datacolumn.var()
    std = datacolumn.std()
    stderror = datacolumn.std()/np.sqrt(len(datacolumn))
    print("variance = ", variance)
    print("standard deviation = ", std)
    print("standard error =", stderror)

In [5]:
myowndescribe(kids['age'])
print("mode = 8")

mean =  9.857142857142858
median =  10.0
variance =  7.476190476190475
standard deviation =  2.734262327610589
standard error = 1.03345401972
mode = 8

2\. Using these estimates, if you had to choose only one estimate of central tendency and one estimate of variance to describe the data, which would you pick and why?

The mean and stadard deviation are suitable as each estimate of central tendeyncy and variance. The mean and median are close because the population is not skewed strongly.

3\. Next Cindy has a birthday. Update your estimates- what changed, and what didn't?

In [6]:
kids.loc[kids['name'] == 'Cindy','age'] += 1
kids

     name  age
0    Greg   14
1  marcia   12
2   Peter   11
3     Jan   10
4   Bobby    8
5   Cindy    7
6  Oliver    8

In [7]:
myowndescribe(kids['age'])
print("mode = 8")

mean =  10.0
median =  10.0
variance =  6.333333333333333
standard deviation =  2.516611478423583
standard error = 0.951189731211
mode = 8

4\. Nobdy likes Cousin Oliver. Maybe the newtwork should have used an even younger actor. Replace Cousin Oliver with 1-year-old Jessica, then recalculate again. Does this change your choice of central tendency or variance estimation methods?

In [8]:
kids.loc[kids['name'] == 'Oliver'] = ['Jessica', 1]
kids

      name  age
0     Greg   14
1   marcia   12
2    Peter   11
3      Jan   10
4    Bobby    8
5    Cindy    7
6  Jessica    1

In [9]:
myowndescribe(kids['age'])
print("No mode")

mean =  9.0
median =  10.0
variance =  18.0
standard deviation =  4.242640687119285
standard error = 1.60356745147
No mode

Because of the outlier, 'Jessica', median is better than mean.

5\. On the 50th anniversary of The Brady Bunch, four different magazines asked their readers wheter they were fans of the show. The answers were: TV Guide 20% fans Entertainment Weekly 23% fans Pop Culture Today 17% fans SciPhi Phanatic 5% fans. 

Based on these numbers, what percentage of adult Americans would you estimate were Brady Bunch fans on the 50th anniversary of the show?

In [10]:
np.mean([20, 23, 17])

20.0

We can say approximately 20%, because SciPhi Phanatic is outlier and the readers of the magzine have their own special interest (SciFi).